#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.activeLink{
  color: black
}

.container{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 85vw;
  height: 75vh;
  padding: 2rem;
  gap: 4rem;
}

.sideBar{
  width: 30%;
  color: black;
  display: flex;
  flex-direction: column;
}

.imageContainer{
  height: auto;
  width: 100%;
  display: flex;
  margin-top: 0%;
  image-rendering: pixelated;
  justify-content: center;
  align-items: center;
}


.noImage{
  margin: auto;
  height: 13rem;
  width: 9rem;
}

.listContainer{
  display: flex;
  flex-direction: column;
  width: 95%;
  overflow: scroll;
  overflow-x: hidden;
  list-style-type: none
}

.listContainer > li{
  display: flex;
  justify-content: space-between;
  padding: .6rem;
  margin: .2rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: -1px 10px 5px -10px rgba(0,0,0,0.15);
  color: black;
  cursor: pointer;
  user-select: none;
  transition: .2s ease-in-out;
}

.listContainer > li:hover{
  opacity: 0.2;
}

.listContainer > li:active{
  opacity: 1;
  background-color: #E3E3E3;
}

.pokeIcon{
  position: relative;
  bottom:50%;
  transform: translate(0%, 100%);
  width: 15px;
  height: 15px;
}

.button{
  width: fit-content;
  padding: .5rem;
  margin: .25rem;
  border-radius: 10px;
  background-color: #FF0000;
  user-select: none;
  color: white;
  text-decoration: none;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.button:hover{
  opacity: 0.5;
}

.button:active{
  opacity: 0.2;
}

button{
  border: none;
}

button[disabled]{
  opacity: 0.5;
}

.column{
  width: 100%;
  display: flex; 
  flex-direction: column;
  gap: 2rem;
}

.table{
  height: 10%;
  /* border: 1px solid gray; */
  border-radius: 5px;
}

.table thead th{ 
border-bottom: 1px solid #e7e7e7;
}

.table *{
  margin-bottom: .25rem;
  margin-top: .25rem;
}

.table-left th{
  text-align: left;
  width: 20%;
}

.table-left td{
  text-align: left;
  width: 70%;
}
.progressBarContainer{
  position: relative;
  background-color: #E3E3E3;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  padding-left: .25rem;
  padding-right: .25rem;
}

.progressBar{
  display: flex;
  justify-content: right;
  background-color: #FF0000;
  color: white;
  border-radius: 10px;
}

.progressBar p{
  padding: 0;
  line-height: 100%;
  margin-right: .75rem;
}

.pagination{
  display: flex; 
  justify-content: right;
}

@media only screen and (max-width: 767px) {

.noImage{
  height: 5rem;
  width: 4rem;
}

.logo{
  height: 100%;
  width: 70%;
}

.sideBar{
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 1rem;
  min-height: 10rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.pagination{
  background-color: white;
  position: sticky;
  bottom: 0;
  padding-bottom: 2rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2
}

.imageContainer{
  margin-top: 0%;
}


#root{
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0rem;
}

.listContainer{
  padding: 0;
  margin: 0;
  height: auto;
  z-index: 1;
}

.buttonMobile{
position: relative;
z-index: 3;
}


}
